<div style="height: 87vh;">
    <div class="row" style="margin: 20px; height: 80%;">
        <!-- LADO IZQUIERDO TEXTO -->
        <div class="col-lg-5" >
            <h1 style="font-family: monospace;">Contactanos y pregunta cualquier duda</h1>
        </div>
        <!-- LADO DERECHO FORMULARIO -->
        <div class="col-lg-6 offset-1" style="padding: 40px;">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Correo Electrónico</label>
            <input type="email" id="exampleFormControlInput1" placeholder="Ingresa tu correo electrónico" class="form-control" style="min-height: 48px;">
          </div>
          
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Mensaje</label>
            <textarea id="exampleFormControlTextarea1" placeholder="Ingresa tu mensaje" rows="3" class="form-control" style="resize: none; min-height: 48px;"></textarea>
          </div>
          
          <div class="mb-3">
            <button type="button" class="btn form-control" style="background-color: #9b8372; color: #2f2f2f;"><b>Subir mensaje</b></button>
          </div>
        </div>
    </div>
    <div style="flex: 1;">
        <div class="container text-center">
            <div class="row align-items-end">
              <div class="col">
                <p><i class="bi bi-envelope" style="margin-right: 4px;"></i>comodiceeldicho&#64;gmail.com</p>
              </div>
              <div class="col">
                <p><i class="bi bi-globe" style="margin-right: 4px;"></i>www.comodiceeldicho.com</p>
              </div>
              <div class="col">
                <p><i class="bi bi-instagram" style="margin-right: 4px;"></i>&#64;comoDiceElDicho</p>
              </div>
            </div>
          </div>
    </div>
</div>