<div class="row">
    <div class="col-12">
        <div class="row">
            <!-- imagen café -->
            <div class="col-lg-4 container-fondo"></div>
            <!-- Contenedor derecho -->
            <div class="col-lg-8">
                <div class="row" style="margin: 20px;">
                    <div class="col-lg-12" style="height: fit-content;">
                        <h1 style="font-family: monospace">Sobre nuestros cafés</h1>
                    </div>
                    <div class="col-lg-12" style="flex: 1">
                        <p style="font-family: 'Times New Roman', Times, serif;">En Como dice el dicho, vivimos y respiramos café. Nos especializamos en ofrecer una selecta variedad de cafés en grano: Arábica, conocido por su suavidad y elegancia; Excelsa, exótico y lleno de matices; Liberica, audaz y único; y Robusta, con su fuerza y carácter inigualable.

                            Nuestro compromiso es llevar a tu taza lo mejor de cada región, destacando la riqueza y diversidad de los granos cuidadosamente seleccionados. Creemos en la autenticidad, la calidad y en el placer de disfrutar un café que cuente una historia desde la planta hasta tu hogar.
                            
                            Ya sea que busques un espresso intenso, un toque frutal o una experiencia exótica, tenemos el grano perfecto para ti. ¡Explora nuestra pasión por el café y descubre el sabor que conecta contigo! ☕</p>
                        <p><i class="bi bi-check2"></i>Café de origen sostenible: Trabajamos con productores comprometidos con prácticas responsables que respetan el medio ambiente y las comunidades locales.</p>
                        <p><i class="bi bi-check2"></i>Tueste fresco garantizado: Nuestros granos son tostados en lotes pequeños para asegurar frescura, aroma y sabor en cada entrega.</p>                        
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>