<div class="row" style="margin: 5rem;">
    <div class="col-lg-12" style="text-align: center; margin-top: 1rem;">
        <h1 style="font-family: monospace;">Compra nuestro catálogo de café</h1>
        <p>"De la tierra a tu taza, el aroma de lo auténtico." ☕</p>
    </div>
    <div class="col-lg-12">
        <div class="card-group">
            <div class="card">
              <div class="card-img-top arabica"></div>
              <div class="card-body">
                <h5 class="card-title">Arabica</h5>
                <p class="card-text">Suave, aromático y ligeramente ácido, con notas dulces y florales. Es el café más apreciado y cultivado en el mundo.</p>
              </div>
            </div>
            <div class="card">
                <div class="card-img-top robusta"></div>
                <div class="card-body">
                <h5 class="card-title">Robusta</h5>
                <p class="card-text">Fuerte y con cuerpo, de sabor terroso y amargo, con el doble de cafeína que el arábica. Perfecto para un espresso potente.</p>
              </div>
            </div>
            <div class="card">
                <div class="card-img-top liberica"></div>
                <div class="card-body">
                    <h5 class="card-title">Liberica</h5>
                    <p class="card-text">Único y audaz, con un aroma intenso, notas ahumadas y frutales, ideal para los paladares aventureros.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-img-top excelsa"></div>
                <div class="card-body">
                  <h5 class="card-title">Excelsa</h5>
                  <p class="card-text">Raro y exótico, con un perfil frutal y ácido, perfecto para mezclas que buscan profundidad y complejidad.</p>
                </div>
              </div>
          </div>
    </div>
</div>