.logo{
    height: 8vh;
    width: 8vh; 
    background-image: url(/assets/logo.png);
    background-size: cover; /* Hace que la imagen cubra todo el div */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center;
}